<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="ProjetCSC" value="/Users/val/Desktop/TCGP-Renew/Common/TCG.Common/bin/Release" />
    </packageSources>
	<packageSourceCredentials>
		<ProjetCSC>
		<add key="Username" value="any" />
		<add key="ClearTextPassword" value="uecj2gtowgl4amgmzrbq7amkiukntckmdgkumse4smz4brjlhxqa" />
		</ProjetCSC>
  	</packageSourceCredentials>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
</configuration>